---
import MarkdownCode from '@/components/typography/MarkdownCode.astro';
import Td from '@/components/typography/Td.astro';
import DetailRow from './DetailRow.astro';

interface Props {
  name: string;
  type: string;
  shortType?: string;
  description?: string;
  defaultValue?: string;
  required?: boolean;
  componentName: string;
}

const { name, type, shortType, description, defaultValue, required, componentName } = Astro.props;

const displayType = shortType ?? type;
const id = `${componentName}-${name}`;
---

<DetailRow id={id} name={name} type={type} shortType={shortType} description={description} colspan={4}>
    <Td class="align-top">
        <MarkdownCode>
            {name}
            {required && <span class="text-orange">*</span>}
        </MarkdownCode>
    </Td>
    <Td class="align-top">
        <MarkdownCode>{displayType}</MarkdownCode>
    </Td>
    <Td class="align-top">
        <MarkdownCode>
            {defaultValue ?? "—"}
        </MarkdownCode>
    </Td>
</DetailRow>
