---
import MarkdownCode from '@/components/typography/MarkdownCode.astro';
import Td from '@/components/typography/Td.astro';
import DetailRow from './DetailRow.astro';

interface Props {
  name: string;
  type: string;
  detailedType?: string;
  description?: string;
  defaultValue?: string;
  required?: boolean;
  componentName: string;
}

const { name, type, detailedType, description, defaultValue, required, componentName } = Astro.props;

const id = `${componentName}-${name}`;
---

<DetailRow
  id={id}
  name={name}
  type={type}
  detailedType={detailedType}
  description={description}
  colspan={4}
>
  <Td class="align-top">
    <MarkdownCode>
      {name}
      {required && <span class="text-orange">*</span>}
    </MarkdownCode>
  </Td>
  <Td class="align-top">
    <MarkdownCode>{type}</MarkdownCode>
  </Td>
  <Td class="align-top">
    <MarkdownCode>
      {defaultValue ?? "—"}
    </MarkdownCode>
  </Td>
</DetailRow>
