---

import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';

interface Props {
  post: CollectionEntry<'blog'>;
  authors: CollectionEntry<'authors'>[];
  asLink?: boolean;
}

const { post, authors, asLink } = Astro.props;
---

<article>
  <a href={`/blog/${post.id}`} class="group grid max-w-3xl">
    {/* TODO(old-color): dark-40, light-40 (time, p, div below) */}
    <time
      datetime={post.data.pubDate.toISOString()}
      class="text-dark-40 dark:text-light-40 mb-2"
    >
      <FormattedDate date={post.data.pubDate} />
    </time>
    <div class="mb-3">
      {/* TODO(old-type): text-lg */}
      <h2 class="text-lg mb-1 font-bold group-intent:underline md:text-h4">
        {post.data.title}
      </h2>
      <p class="text-dark-40 dark:text-light-40 font-bold">
        {post.data.description}
      </p>
    </div>
    {
      authors.length > 0 && (
        <div class="text-dark-40 dark:text-light-40">
          {new Intl.ListFormat("en", {
            style: "long",
            type: "conjunction",
          }).format(authors.map((author) => author.data.name))}
        </div>
      )
    }
  </a>
</article>
