---

import { Built } from '@/components/Built/BuiltSection';
import Footer from '@/components/Footer.astro';
import FooterEasterEgg from '@/components/FooterEasterEgg.astro';
import GetStartedBanner from '@/components/GetStartedBanner';
import HomePageDemo from '@/components/HomePageDemo';
import HeroVideo from '@/components/home/HeroVideo';
import HomePageControls from '@/components/home/HomePageControls';
import MuxLogoSmall from '@/components/icons/MuxLogoSmall';
import NavBar from '@/components/NavBar/NavBar.astro';
import { RoadMap } from '@/components/Roadmap';
import { Sponsors } from '@/components/Sponsors';
import { SITE_DESCRIPTION, SITE_TITLE, VJS8_DEMO_VIDEO } from '@/consts';
import Base from '@/layouts/Base.astro';

const poster = `${VJS8_DEMO_VIDEO.poster}?time=0`;
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <link
    rel="preload"
    href={poster}
    as="image"
    type="image/webp"
    fetchpriority="high"
    slot="priority-head"
  />
  <NavBar />
  <header class="relative flex flex-col">
    <div class="w-full max-w-6xl mx-auto px-5 md:px-6">
      <div class="vjs relative z-10 w-full grid grid-cols-1 grid-rows-1">
        <div class="block md:hidden">
          <h1
            class="text-faded-black text-h5 pt-20 leading-[120%] w-full font-display-extended uppercase font-bold justify-self-center self-center text-center"
          >
            The Open Source Player<br />
            <span class="">for the Web</span>
          </h1>
          <p
            class="w-full text-base font-normal text-warm-gary max-w-3xl mx-auto pt-5 pb-20 md:px-5 text-center"
          >
            For over 15 years, Video.js has been the world’s web video player.
            Now rebuilt in v10 for modern development and performance.
          </p>
        </div>

        <HeroVideo
          client:load
          className="aspect-video rounded-3xl bg-dark-80 dark:bg-dark-40 shadow-2xl"
          poster={poster}
        />
        <h1
          class="hidden md:block text-white absolute text-[3.1rem] leading-[120%] w-full font-display-extended uppercase font-bold justify-self-center self-center text-center"
        >
          The Open Source<br />
          <span class=""> Player for the Web </span>
        </h1>
      </div>
      <p
        class="flex justify-center md:justify-end items-center gap-2 py-2 font-display-extended uppercase font-light ml-auto text-sm"
      >
        VIDEO HOSTING BY
        <MuxLogoSmall className="inline" width={"3.25"} />
      </p>
    </div>
    <p
      class="hidden md:block w-full text-h5 font-normal text-warm-gary max-w-3xl mx-auto py-20 md:px-5 text-center"
    >
      For over 15 years, Video.js has been the world’s web video player. Now
      rebuilt in v10 for modern development and performance.
    </p>
  </header>
  <main class="w-full">
    <div class="w-full max-w-6xl mx-auto px-6 md:px-5">
      <HomePageControls
        client:idle
        className="col-span-full my-10 sm:my-12 lg:mb-15"
      />
      <HomePageDemo client:idle className="" />
      <GetStartedBanner />
    </div>
      <Built />
    <RoadMap />
    <Sponsors /> 
  </main>
  <Footer />
  <FooterEasterEgg /> 
</Base>
