---
import { type CollectionEntry, getCollection } from 'astro:content';

import type { SupportedFramework, SupportedStyle } from '@/types/docs';

import NavBar from '@/components/NavBar/NavBar.astro';
import DocsSidebar from '@/components/docs/DocsSidebar.astro';
import Footer from '@/components/Footer.astro';

import Base from './Base.astro';
import { Selectors } from '@/components/docs/Selectors';
import { getDocTitle } from '@/utils/docs/title';
import FooterEasterEgg from '@/components/FooterEasterEgg.astro';
import FilmGrain from '@/components/FilmGrain';
import DocsSidebarRestoration from '@/components/docs/DocsSidebarRestoration.astro';

type Props<F extends SupportedFramework = SupportedFramework> = {
  doc: CollectionEntry<'docs'>;
  framework: F;
  style: SupportedStyle<F>;
  slug: string;
};

const { doc, framework, style, slug } = Astro.props;

// Fetch all docs to get their framework-specific titles
const allDocs = await getCollection('docs');
const docTitles = new Map(allDocs.map((d) => [d.id, getDocTitle(d, framework)]));

const docsSidebarId = 'docs-sidebar';
---

<Base title={[getDocTitle(doc, framework), 'Docs']} description={doc.data.description}>
  <Fragment slot="head">
    <DocsSidebarRestoration docsSidebarId={docsSidebarId} />
    <slot name="head" slot="head" />
  </Fragment>
  <div
    class="grid grid-cols-1 lg:grid-cols-(--lg-grid-cols) min-h-screen"
    style="--lg-grid-cols: calc(var(--spacing) * 75) 1fr;grid-template-rows:auto minmax(0,1fr);"
  >
    <NavBar class="col-span-full">
      <DocsSidebar slot="mobile-nav" framework={framework} style={style} docTitles={docTitles} />
    </NavBar>
    <aside
      id={docsSidebarId}
      class="hidden lg:flex flex-col lg:border-r border-light-40 dark:border-dark-80 z-10 sticky overflow-y-scroll"
      style="top: var(--nav-h); max-height: calc(100vh - var(--nav-h));"
    >
      <FilmGrain currentPath={Astro.url.pathname} />
      <DocsSidebar framework={framework} style={style} docTitles={docTitles} class="flex-1">
        <Selectors client:idle currentFramework={framework} currentStyle={style} currentSlug={slug} />
      </DocsSidebar>
    </aside>
    <div>
      <div class="flex flex-col" style="min-height:calc(100vh - var(--nav-h));">
        <slot />
        <Footer class="mt-auto" />
      </div>
      <FooterEasterEgg class="lg:col-start-2" />
    </div>
  </div>
</Base>
