---
import clsx from 'clsx';
import { ArrowUpRight } from 'lucide-react';
import Discord from '@/components/icons/discord.svg?react';
import GitHub from '@/components/icons/github.svg?react';
import Logo from '@/components/icons/logo.svg?react';
import { DISCORD_INVITE_URL, GITHUB_REPO_URL } from '@/consts';
import GetStartedLink from './GetStartedLink';
import MobileNav from './MobileNav';

export interface Props {
  dark?: boolean;
  class?: string;
}

type NavLink = {
  href: string;
  label: string;
  matchPath: string | null;
  external?: boolean;
};
const navLinks: NavLink[] = [
  { href: '/docs', label: 'Docs', matchPath: '/docs' },
  { href: '/blog', label: 'Blog', matchPath: '/blog' },
];

const currentPath = Astro.url.pathname;
const isDocsActive = currentPath.startsWith('/docs');
const otherNavLinks = navLinks.filter((link) => link.href !== '/docs');
const { class: className, dark = false } = Astro.props;
---

<nav
  class:list={[
    'flex justify-between',
    'w-full max-w-305 mx-auto py-7 md:py-10 px-5 items-center',
    className,
  ]}
>
  <a href="/" class="flex items-center w-40 lg:w-56" aria-label="Video.js v10 home">
    <Logo width="100%" />
  </a>
  {/* Desktop nav links */}
  <div class="hidden md:flex">
    <GetStartedLink
      client:idle
      className={clsx('hover:bg-dark-manila dark:hover:bg-warm-gray flex items-center px-5 py-2 rounded-xs font-display-extended uppercase font-bold')}
      aria-current={isDocsActive ? 'page' : undefined}
    >
      Docs
    </GetStartedLink>
    {
      otherNavLinks.map((link) => (
        <a href={link.href} class:list={['hover:bg-dark-manila dark:hover:bg-warm-gray flex items-center px-5 py-2 rounded-xs font-display-extended uppercase font-bold']}>
          {link.label} {link.external ? <ArrowUpRight size="1em" /> : null}
        </a>
      ))
    }
    <a
      href={DISCORD_INVITE_URL}
      class={clsx('hover:bg-dark-manila dark:hover:bg-warm-gray flex items-center px-3 py-2 rounded-xs font-display-extended uppercase font-bold')}
      aria-label="Discord"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Discord width="1.5em" height="1.5em" />
    </a>
    <a
      href={GITHUB_REPO_URL}
      class={clsx('hover:bg-dark-manila dark:hover:bg-warm-gray flex items-center px-3 py-2 rounded-xs font-display-extended uppercase font-bold')}
      aria-label="GitHub"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GitHub width="1.5em" height="1.5em" />
    </a>
  </div>

  <MobileNav
    client:idle
    navLinks={navLinks}
    currentPath={currentPath}
    dark={dark}
  >
    <slot name="mobile-nav" />
  </MobileNav>
</nav>
