---
import clsx from 'clsx';
import { ArrowUpRight } from 'lucide-react';
import Discord from '@/components/icons/Discord';
import GitHub from '@/components/icons/GitHub';
import Logo from '@/components/icons/Logo';
import { DISCORD_INVITE_URL, GITHUB_REPO_URL } from '@/consts';
import GetStartedLink from './GetStartedLink';
import MobileNav from './MobileNav';

export interface Props {
  dark?: boolean;
  class?: string;
}

type NavLink = {
  href: string;
  label: string;
  matchPath: string | null;
  external?: boolean;
};
const navLinks: NavLink[] = [
  { href: '/docs', label: 'Docs', matchPath: '/docs' },
  { href: '/blog', label: 'Blog', matchPath: '/blog' },
];

const currentPath = Astro.url.pathname;
const isDocsActive = currentPath.startsWith('/docs');
const otherNavLinks = navLinks.filter((link) => link.href !== '/docs');
const { class: className, dark = false } = Astro.props;
const navLinkBase =
  'hover:bg-(--color-dark-manila) transition-colors flex items-center px-5 py-2 rounded-sm font-display-extended uppercase font-bold';
---

<nav
  class:list={[
    'flex justify-between',
    'w-full max-w-6xl mx-auto px-5 py-7 md:pt-10 md:px-5 ',
    className,
  ]}
>
  <a href="/" class="flex items-center" aria-label="Video.js v10 home">
    <div class="block md:hidden">
      <Logo width="10" />
    </div>
    <div class="hidden md:block">
      <Logo width="14" />
    </div>
  </a>
  {/* Desktop nav links */}
  <div class="hidden sm:flex">
    <GetStartedLink
      client:idle
      className={clsx(navLinkBase)}
      aria-current={isDocsActive ? 'page' : undefined}
    >
      Docs
    </GetStartedLink>
    {
      otherNavLinks.map((link) => (
        <a href={link.href} class:list={[navLinkBase]}>
          {link.label} {link.external ? <ArrowUpRight size="1em" /> : null}
        </a>
      ))
    }
    <a
      href={DISCORD_INVITE_URL}
      class={clsx(navLinkBase, '!px-3')}
      aria-label="Discord"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Discord size="1.5em" strokeWidth="0.0625em" />
    </a>
    <a
      href={GITHUB_REPO_URL}
      class={clsx(navLinkBase, '!px-3')}
      aria-label="GitHub"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GitHub size="1.5em" strokeWidth="0.0625em" />
    </a>
  </div>

  <MobileNav
    client:idle
    navLinks={navLinks}
    currentPath={currentPath}
    dark={dark}
  >
    <slot name="mobile-nav" />
  </MobileNav>
</nav>
