---
import type { BundledLanguage } from 'shiki';

import ServerCode from '@/components/Code/ServerCode.astro';
import { Tab, TabsList, TabsPanel, TabsRoot } from '@/components/Tabs';

interface FileTab {
  title: string;
  code: string;
  lang: BundledLanguage;
}

interface Props {
  files: FileTab[];
}

const { files } = Astro.props;
---

{/* TODO(old-color): light-40, dark-80 */}
<div
  class="border-light-40 dark:border-dark-80 mx-auto my-6 flex w-full max-w-3xl flex-col overflow-hidden rounded-xs border"
>
  {/* TODO(old-color): light-80, dark-100 */}
  <div class="bg-light-80 dark:bg-dark-100 relative z-20">
    <slot />
  </div>
  {/* TODO(old-color): light-40, dark-80 */}
  <TabsRoot
    client:idle
    maxWidth={false}
    className="border-light-40 dark:border-dark-80 my-0 rounded-none border-0 border-t"
  >
    <TabsList client:idle label="Demo source code">
      {
        files.map((file, i) => (
          <Tab client:idle value={file.title} initial={i === 0}>
            {file.title}
          </Tab>
        ))
      }
    </TabsList>
    {
      files.map((file, i) => (
        <TabsPanel client:idle value={file.title} initial={i === 0}>
          <ServerCode code={file.code} lang={file.lang} />
        </TabsPanel>
      ))
    }
  </TabsRoot>
</div>
